@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

#main-container {
    width: 635px;
    margin: 3rem auto 0 auto;
}
