@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
    background-image: url('./images/bg-intro-desktop.png');
    color: white;
}

#main-container {
    width: 1110px;
    height: 570px;
    display: flex;
    justify-content: space-between;
    margin: 8rem auto 0 auto;
}

#info-container {
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-title {
    font-size: 3rem;
}

#sign-up-container {
    width: 540px;
}

#try-free {
    background-color: hsl(248, 32%, 49%);
    height: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 14px 0px hsla(248, 32%, 49%, 0.2);
    margin-bottom: 2rem;
}

#sign-up-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 40px;
}

input {
    border: none;
    width: 100%;
    flex-wrap: 1;
}

input:focus {
    border: none;
    outline: none;
}

input:active {
    border: none;
}

#claim-btn {
    width: 460px;
    height: 55px;
    border: none;
    background-color: hsl(154, 59%, 51%);
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    font-weight: 600;
    cursor: pointer;
}

.input-block {
    margin-bottom: 20px;
}

.input-container {
    height: 55px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 24px 0 30px;
}

.error-msg {
    text-align: end;
    color: hsl(0, 100%, 74%);
    font-size: 0.7rem;
    display: none;
}

#agreement {
    font-size: 0.7rem;
    color: hsl(246, 25%, 77%);
    text-align: center;
    margin-top: 18px;
}

#term {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}

.input-error-icon {
    height: 24px;
    width: 24px;
    display: none;
}