@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

#top-container {
    width: 510px;
    margin: auto;
    text-align: center;
}

#card-container {
    width: 1110px;
    margin: auto;
}

.card {
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}
