@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background: 
        url('./images/bg-pattern-top-desktop.svg') no-repeat,
        url('./images/bg-pattern-bottom-desktop.svg') no-repeat;
}

#top-container {
    height: 270px;
    width: 1110px;
    margin: auto;
    margin-top: 2rem;
    display: flex;
}

#bottom-container {
    height: 270px;
    width: 1110px;
    margin: auto;
}

#main-title {
    font-weight: 700;
    font-size: 2rem;
    color: hsl(300, 43%, 22%);
}

.user-card {
    display: flex;
}

#bottom-container {
    display: flex;
}

#card-1 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 15px;
    overflow: hidden;
    height: 235px;
    width: 350px;
}

#card-2 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 15px;
    overflow: hidden;
    height: 235px;
    width: 350px;
    margin-left: 30px;
    margin-top: 15px;
}

#card-3 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 15px;
    overflow: hidden;
    height: 235px;
    width: 350px;
    margin-left: 30px;
    margin-top: 30px;
}

.name {
    color: white;
}

img {
    height: 40px;
    width: 40px;
    border-radius: 50%  ;
}
