@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

#main-container {
    width: 1110px;
    margin: auto;
    margin-top: 0;
    background: 
        url('./images/bg-pattern-top-desktop.svg') no-repeat,
        url('./images/bg-pattern-bottom-desktop.svg') no-repeat;
}

#top-container {
    /* height: 270px; */
    padding-top: 8rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-cont-info {
    width: 410px;
}

#top-cont-stars {
    height: 200px;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.star-card {
    background-color: hsl(300, 24%, 96%);
    height: 55px;
    width: 445px;
    border-radius: 5px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 2rem;
}

.star-card p {
    padding-left: 2.1rem;
}

#star-card-2 {
    margin-left: 2rem;
}

#star-card-3 {
    margin-left: 4rem;
}

#bottom-container {
    height: 270px;
}

#main-title {
    font-weight: 700;
    font-size: 3rem;
    color: hsl(300, 43%, 22%);
}

#description {
    margin-top: 2rem;
    color: hsl(300, 43%, 22%);
    line-height: 1.2rem;
    font-size: 1.1rem;
}

.user-card {
    display: flex;
}

.user-card-col-2 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.status {
    color: hsl(333, 80%, 67%);
    font-weight: 500;
    font-size: 1.2rem;
}

.name {
    color: white;
    font-size: 1.2rem;
}

#bottom-container {
    display: flex;
}

.card {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    overflow: hidden;
    height: 235px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2rem;
    padding-right: 2rem;

}

#card-2 {
    margin-left: 30px;
    margin-top: 15px;
}

#card-3 {
    margin-left: 30px;
    margin-top: 30px;
}

.desc {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
}

.card img {
    height: 40px;
    width: 40px;
    border-radius: 50%  ;
}
