@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('./images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#main-container {
    display: flex;
}
