@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    width: 640px;
    margin: auto;
}

#logo {
    display: block;
    margin: auto;
    margin-top: 3rem;
}

#main-img {
    display: block;
    margin: auto;
    width: 640px;
}

#subscribe {
    text-align: center;
}

#copyright {
    text-align: center;
}
